﻿@model MVVM.UI.Web.Models.Home.FiltersViewModel

<div id="main-container">

    <div>
        <h1>Filters</h1>
        <p>@Model.Text</p>
    </div>

    <div id="filters-container">

        <fieldset>
            <div class="left-float">
                <label for="colour-select-list">Colour:</label>
                <select data-bind="value: Colour, options: Colours, optionsText: 'Text', optionsValue: 'Value', attr: { size: Colours().length }" id="colour-select-list" multiple></select>
            </div>
            <div class="left-float">
                <label for="size-select-list">Size:</label>
                <select data-bind="value: Size, options: Sizes, optionsText: 'Text', optionsValue: 'Value', attr: { size: Sizes().length }" id="size-select-list" multiple></select>
            </div>
            <div class="left-float">
                <label for="style-select-list">Style:</label>
                <select data-bind="value: Style, options: Styles, optionsText: 'Text', optionsValue: 'Value', attr: { size: Styles().length }" id="style-select-list" multiple></select>
            </div>
        </fieldset>

    </div>

</div>

@section Scripts
{
    <script src="/Scripts/ViewModels/HomeFiltersVM.js"></script>
    <script src="/Scripts/Home/filters.js"></script>
}
