#filters-container fieldset label, #filters-container fieldset select { display: block; }

.full-width { width: 100%; }

.left-float { float: left; }

#trains-boats-plains-select { display: block; margin: 20px 0 0 0; }

.headerdiv { text-align:center;vertical-align:central;border-block:groove }

.h1header{background-color:lightcyan;}
